<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.d1m.wechat.mapper.ActivityShareMapper" >
  <resultMap id="BaseResultMap" type="com.d1m.wechat.model.ActivityShare" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="share_at" property="shareAt" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="wechat_id" property="wechatId" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="ActivityShareResultMap" type="com.d1m.wechat.dto.ReportActivityItemDto">
  	<result column="date" jdbcType="TIMESTAMP" property="date" />
	 <result column="feedCount" jdbcType="INTEGER" property="feedCount" />
	 <result column="friendsCount" jdbcType="INTEGER" property="friendsCount" />
  	 <result column="qqCount" jdbcType="INTEGER" property="qqCount" />
     <result column="weiboCount" jdbcType="INTEGER" property="weiboCount" />
     <result column="qzoneCount" jdbcType="INTEGER" property="qzoneCount" />
    </resultMap>
  
  <select id="activityShare" resultMap="ActivityShareResultMap">
  	select str_to_date(a.share_at,'%Y-%m-%d') as date,
  		sum(case a.type when 1 then 1 else 0 end) as feedCount,
		sum(case a.type when 2 then 1 else 0 end) as friendsCount,
		sum(case a.type when 3 then 1 else 0 end) as qqCount,
		sum(case a.type when 4 then 1 else 0 end) as weiboCount,
		sum(case a.type when 5 then 1 else 0 end) as qzoneCount
	from activity_share a
	<where>
		a.wechat_id = #{wechatId}
		<if test="activityId != null">
			and a.activity_id = #{activityId}
		</if>
		<if test="start != null">
			<if test="end != null">
			and str_to_date(a.share_at,'%Y-%m-%d') between #{start} and #{end}
			</if>
		</if>
		group by date
		order by date desc
	</where>
  </select>
  
  <resultMap id="PieActivityShareResultMap" type="com.d1m.wechat.dto.PieBaseDto">
	<result column="name" jdbcType="VARCHAR" property="name" />
	<result column="count" jdbcType="INTEGER" property="count" />
  </resultMap>
  
  <select id="pieActivityShareReport" resultMap="PieActivityShareResultMap">
  	select
		a.type as name,
    	count(*) as count
    	from activity_share a
	<where>
		wechat_id = #{wechatId}
		<if test="activityId != null">
			and a.activity_id = #{activityId}
		</if>
		<if test="start != null">
			<if test="end != null">
			and	str_to_date(a.share_at,'%Y-%m-%d') between #{start} and #{end}
			</if>
		</if>
		group by a.type
	</where>
  </select>
  
</mapper>
