<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.d1m.wechat.mapper.CouponActivityMapper" >
  <resultMap id="BaseResultMap" type="com.d1m.wechat.model.CouponActivity" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="day" property="day" jdbcType="TIMESTAMP" />
    <result column="activity_session_id" property="activitySessionId" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="left_number" property="leftNumber" jdbcType="INTEGER" />
  </resultMap>



  <resultMap id="subCouponActivityResultMap" type="com.d1m.wechat.dto.CouponActivityDto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="timeStr" jdbcType="VARCHAR" property="timeStr" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="left_number" jdbcType="INTEGER" property="leftNumber" />

  </resultMap>
  <select id="listCouponActivity" parameterType="HashMap" resultMap="subCouponActivityResultMap">
    select ca.id, CONCAT(TIME_FORMAT(ass.start, '%H:%i'), ' - ', TIME_FORMAT(ass.end, '%H:%i')) as timeStr, ca.number, ca.left_number from coupon_activity ca left join activity_session ass on ca.activity_session_id=ass.id
    where ca.day=#{theDay} and ca.left_number > 0
  </select>

  <resultMap id="CouponActivityResultMap" type="com.d1m.wechat.dto.CouponActivityDto">
    <result column="dayStr" jdbcType="VARCHAR" property="dayStr" />
    <collection column="{theDay=day}" javaType="ArrayList" ofType="com.d1m.wechat.dto.CouponActivityDto" property="couponActivityList" select="listCouponActivity" />
  </resultMap>

  <select id="getCouponActivity" parameterType="HashMap" resultMap="CouponActivityResultMap">
    select DATE_FORMAT(day, '%Y-%m-%d') as dayStr, day from coupon_activity ca where ca.left_number > 0 group by day
  </select>




  <resultMap id="CouponActivityJoinInfoDtoResultMap" type="com.d1m.wechat.dto.CouponActivityJoinInfoDto">
    <result column="dayStr" jdbcType="VARCHAR" property="dayStr" />
    <result column="timeStr" jdbcType="VARCHAR" property="timeStr" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="business_id" jdbcType="INTEGER" property="businessId" />
    <result column="sessionId" jdbcType="INTEGER" property="sessionId" />
    <result column="leftNumber" jdbcType="INTEGER" property="leftNumber" />
  </resultMap>

  <select id="getActivityJoinInfo" parameterType="HashMap" resultMap="CouponActivityJoinInfoDtoResultMap">
    select DATE_FORMAT(cam.day, '%Y-%m-%d') as dayStr, CONCAT(TIME_FORMAT(ass.start, '%H:%i'), ' - ', TIME_FORMAT(ass.end, '%H:%i')) as timeStr, cam.number, cam.business_id, ca.id as sessionId, ca.left_number as leftNumber
    from coupon_activity_member cam left join activity_session ass on cam.activity_session_id=ass.id
    left join coupon_activity ca on ca.day=cam.day and ca.activity_session_id = ass.id
    where cam.member_id=#{memberId}
  </select>
</mapper>