<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.d1m.wechat.mapper.CouponActivityMemberMapper" >
  <resultMap id="BaseResultMap" type="com.d1m.wechat.model.CouponActivityMember" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="day" property="day" jdbcType="TIMESTAMP" />
    <result column="activity_session_id" property="activitySessionId" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="business_id" property="businessId" jdbcType="INTEGER" />
  </resultMap>
</mapper>