<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d1m.wechat.mapper.CustomerTokenMapper">
  <resultMap id="BaseResultMap" type="com.d1m.wechat.model.CustomerToken">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customer_info_id" jdbcType="INTEGER" property="customerInfoId" />
    <result column="appid" jdbcType="VARCHAR" property="appid" />
    <result column="appkey" jdbcType="VARCHAR" property="appkey" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="wechat_id" jdbcType="INTEGER" property="wechatId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="expired_at" jdbcType="TIMESTAMP" property="expiredAt" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
</mapper>