<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d1m.wechat.mapper.MaterialMapper">
  <resultMap id="BaseResultMap" type="com.d1m.wechat.model.Material">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="material_type" jdbcType="TINYINT" property="materialType" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="wx_pic_url" jdbcType="VARCHAR" property="wxPicUrl" />
    <result column="material_image_type_id" jdbcType="INTEGER" property="materialImageTypeId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="material_voice_type_id" jdbcType="INTEGER" property="materialVoiceTypeId" />
    <result column="voice_url" jdbcType="VARCHAR" property="voiceUrl" />
    <result column="material_video_type_id" jdbcType="INTEGER" property="materialVideoTypeId" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
    <result column="video_tag" jdbcType="VARCHAR" property="videoTag" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="modify_by_id" jdbcType="INTEGER" property="modifyById" />
    <result column="modify_at" jdbcType="TIMESTAMP" property="modifyAt" />
    <result column="last_push_at" jdbcType="TIMESTAMP" property="lastPushAt" />
    <result column="wechat_id" jdbcType="INTEGER" property="wechatId" />
    <result column="media_id" jdbcType="VARCHAR" property="mediaId" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  
  <select id="searchImage" parameterType="HashMap" resultMap="ImageResultMap">
	SELECT * FROM material
	<where>
		wechat_id = #{wechatId} and status = 1
		<if test="materialType != null">
			and material_type = #{materialType}
		</if>
		<if test="materialImageTypeId != null">
			and material_image_type_id = #{materialImageTypeId}
		</if>
		<if test="query != null">
			and name like CONCAT('%','${query}','%' )
		</if>
		<if test="pushed != null">
	   		<if test="pushed == true">
				and modify_at = last_push_at
	   		</if>
	   	</if>
	</where>
	order by id desc
  </select>
  <resultMap id="ImageResultMap" type="com.d1m.wechat.dto.MaterialDto">
  	<id column="id" jdbcType="INTEGER" property="id" />
	<result column="pic_url" jdbcType="VARCHAR" property="url" />
	<result column="name" jdbcType="VARCHAR" property="title" />
	  <result column="wx_pic_url" jdbcType="VARCHAR" property="wxPicUrl" />
  </resultMap>

  <select id="searchImageText" parameterType="HashMap" resultMap="ImageTextResultMap">
  	SELECT DISTINCT m.* FROM material m left join material_image_text_detail mt on m.id = mt.material_id 
  	<where>
	  	m.status = 1 and mt.status = 1 and m.wechat_id = #{wechatId} and m.material_type = 1
		<if test="query != null">
			and (mt.title like CONCAT('%','${query}','%' ) or mt.author like CONCAT('%','${query}','%' ) or mt.summary like CONCAT('%','${query}','%' ))
		</if>
		<if test="pushed != null">
	   		<if test="pushed == true">
				and m.modify_at = m.last_push_at
	   		</if>
	   	</if>
		order by m.id desc
  	</where>
  </select>
  <resultMap id="ImageTextResultMap" type="com.d1m.wechat.dto.MaterialDto">
  	<id column="id" jdbcType="INTEGER" property="id" />
  	<result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
  	<result column="last_push_at" jdbcType="TIMESTAMP" property="lastPushAt" />
  	<result column="modify_at" jdbcType="TIMESTAMP" property="modifyAt" />
	<collection column="{materialId=id}" javaType="ArrayList" ofType="com.d1m.wechat.dto.ImageTextDto" property="items" select="selectImageTextDetail" />
  </resultMap>
  <select id="selectImageTextDetail" parameterType="HashMap" resultMap="ImageTextDetailResultMap">
  	SELECT mt.id as id, mt.title as title, mt.summary as summary, m.pic_url as material_cover_url, mt.content_source_url as contentSourceUrl FROM material_image_text_detail mt LEFT JOIN material m ON mt.material_cover_id = m.id
  	<where>
	  	mt.material_id = #{materialId} and mt.status = 1
  	</where>
  	order by mt.sequence asc
  </select>
  <resultMap id="ImageTextDetailResultMap" type="com.d1m.wechat.dto.ImageTextDto">
  	<id column="id" jdbcType="INTEGER" property="id" />
  	<result column="title" jdbcType="VARCHAR" property="title" />
  	<result column="summary" jdbcType="VARCHAR" property="summary" />
  	<result column="material_cover_url" jdbcType="VARCHAR" property="materialCoverUrl" />
  	<result column="content_source_url" jdbcType="VARCHAR" property="contentSourceUrl" />
  </resultMap>
  
  
  <select id="getImageText" parameterType="HashMap" resultMap="GetImageTextResultMap">
  	SELECT id, created_at, last_push_at, modify_at FROM material m 
  	<where>
	  	m.wechat_id=#{wechatId} and m.id=#{id} and m.status = 1
  	</where>
  </select>
  <resultMap id="GetImageTextResultMap" type="com.d1m.wechat.dto.MaterialDto">
  	<id column="id" jdbcType="INTEGER" property="id" />
  	<result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
  	<result column="last_push_at" jdbcType="TIMESTAMP" property="lastPushAt" />
  	<result column="modify_at" jdbcType="TIMESTAMP" property="modifyAt" />
	<collection column="{materialId=id}" javaType="ArrayList" ofType="com.d1m.wechat.dto.ImageTextDto" property="items" select="getImageTextDetail" />
  </resultMap>
  <select id="getImageTextDetail" parameterType="HashMap" resultMap="GetImageTextDetailResultMap">
  	SELECT mt.id as id,mt.title as title, mt.author as author, mt.content as content, mt.content_source_url as content_source_url, mt.content_source_checked as content_source_checked,
  	 mt.show_cover as show_cover, mt.summary as summary, m.id as material_cover_id, m.pic_url as material_cover_url, m.media_id as material_cover_media_id 
  	 FROM material_image_text_detail mt LEFT JOIN material m ON mt.material_cover_id = m.id
  	 <where>
	  	 mt.material_id = #{materialId} and mt.status = 1
  	 </where>
  	 order by mt.sequence asc
  </select>
  <resultMap id="GetImageTextDetailResultMap" type="com.d1m.wechat.dto.ImageTextDto">
  	<id column="id" jdbcType="INTEGER" property="id" />
  	<result column="title" jdbcType="VARCHAR" property="title" />
  	<result column="author" jdbcType="VARCHAR" property="author" />
  	<result column="content" jdbcType="LONGVARCHAR" property="content" />
  	<result column="content_source_url" jdbcType="VARCHAR" property="contentSourceUrl" />
  	<result column="show_cover" jdbcType="BOOLEAN" property="showCover" />
  	<result column="summary" jdbcType="VARCHAR" property="summary" />
  	<result column="material_cover_id" jdbcType="INTEGER" property="materialCoverId" />
  	<result column="material_cover_url" jdbcType="VARCHAR" property="materialCoverUrl" />
  	<result column="content_source_checked" jdbcType="BIT" property="contentSourceChecked" />
  	<result column="material_cover_media_id" jdbcType="VARCHAR" property="materialCoverMediaId" />
  </resultMap>
  
  
  
</mapper>