<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d1m.wechat.mapper.MaterialTextDetailMapper">
  <resultMap id="BaseResultMap" type="com.d1m.wechat.model.MaterialTextDetail">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="material_id" jdbcType="INTEGER" property="materialId" />
    <result column="wechat_id" jdbcType="INTEGER" property="wechatId" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
</mapper>