<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.d1m.wechat.mapper.OauthUrlMapper" >
  <resultMap id="BaseResultMap" type="com.d1m.wechat.model.OauthUrl" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="short_url" property="shortUrl" jdbcType="VARCHAR" />
    <result column="scope" property="scope" jdbcType="VARCHAR" />
    <result column="process_class" property="processClass" jdbcType="VARCHAR" />
    <result column="wechat_id" property="wechatId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="params" property="params" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>