<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d1m.wechat.mapper.SpiConfigMapper">
  <resultMap id="BaseResultMap" type="com.d1m.wechat.model.SpiConfig">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="wechat_id" jdbcType="INTEGER" property="wechatId" />
    <result column="event" jdbcType="VARCHAR" property="event" />
    <result column="action" jdbcType="VARCHAR" property="action" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
</mapper>