<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.d1m.wechat.mapper.TaskCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.d1m.wechat.model.TaskCategory" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cate_name" property="cateName" jdbcType="VARCHAR" />
    <result column="task_class" property="taskClass" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="creator_id" property="creatorId" jdbcType="INTEGER" />
    <result column="params" property="params" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>