<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d1m.wechat.mapper.UserWechatMapper">
  <resultMap id="BaseResultMap" type="com.d1m.wechat.model.UserWechat">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="wechat_id" jdbcType="INTEGER" property="wechatId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="is_use" jdbcType="TINYINT" property="isUse" />
  </resultMap>
  
  <select id="search" parameterType="HashMap" resultMap="BaseResultMap">
		select * from user_wechat as uw left join wechat as w on w.id = uw.wechat_id
		<where>
			<if test="userId != null">
				and uw.user_id = #{userId}
			</if>
			<if test="wechatId != null">
				and uw.wechat_id = #{wechatId}
			</if>
			<if test="companyId != null">
				and w.company_id = #{companyId}
			</if>
		</where>
		order by uw.created_at desc
	</select>
</mapper>