<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d1m.wechat.mapper.WxMemberTagMapper">
  <resultMap id="BaseResultMap" type="com.d1m.wechat.model.WxMemberTag">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="wx_id" jdbcType="INTEGER" property="wxId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="creator_at" jdbcType="TIMESTAMP" property="creatorAt" />
    <result column="wechat_id" jdbcType="INTEGER" property="wechatId" />
  </resultMap>

  <delete id="deleteBySyncDate">
    delete from wx_member_tag
    <where>
      wechat_id = #{wechatId} and creator_at &lt; #{syncDate}
    </where>
  </delete>
</mapper>