<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d1m.wechat.mapper.ZegnaMemberBaaLogMapper">
  <resultMap id="BaseResultMap" type="com.d1m.wechat.model.ZegnaMemberBaaLog">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
  </resultMap>
</mapper>