<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:int-amqp="http://www.springframework.org/schema/integration/amqp"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/rabbit
    http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd
    http://www.springframework.org/schema/integration
    http://www.springframework.org/schema/integration/spring-integration.xsd
    http://www.springframework.org/schema/integration/amqp
    http://www.springframework.org/schema/integration/amqp/spring-integration-amqp.xsd">

    <description>rabbitmq 连接服务配置</description>
    <!-- 连接配置 -->

    <rabbit:connection-factory
            id="rabbitConnectionFactory"
            host="${rabbitmq.host}"
            port="${rabbitmq.port}"
            username="${rabbitmq.username}"
            password="${rabbitmq.password}"/>

    <rabbit:admin connection-factory="rabbitConnectionFactory"/>
    <!-- spring template声明-->
    <rabbit:template id="amqpTemplate" connection-factory="rabbitConnectionFactory"
                     message-converter="stringMessageConverter"
                     exchange="amq.direct"
                     queue="wechat.notify"
                     routing-key="wechat.notify.message"/>

    <rabbit:queue name="wechat.notify" durable="true"/>

    <rabbit:direct-exchange name="amq.direct">
        <rabbit:bindings>
            <rabbit:binding queue="wechat.notify" key="wechat.notify.message"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <!-- This is just an interface definition, no implementation required
         spring will generate an implementation which puts a message on the channel -->
    <int:channel id="producingChannel"/>
    <int:gateway
            service-interface="com.d1m.wechat.message.WxNotifyMessageDispatcher"
            default-request-channel="producingChannel"
    />

    <!-- used amqpTemplate to send messages on producingChannel channel to rabbitmq -->
    <int-amqp:outbound-channel-adapter
            channel="producingChannel"
            amqp-template="amqpTemplate"
            exchange-name="amq.direct"
            routing-key="wechat.notify.message"
    />

    <bean id="stringMessageConverter" class="org.springframework.amqp.support.converter.SimpleMessageConverter"/>

    <!--<rabbit:listener-container connection-factory="rabbitConnectionFactory"
                               acknowledge="auto" prefetch="5"
                               message-converter="stringMessageConverter">
        <rabbit:listener ref="wxNotifyMessageHandler" method="handle" queue-names="wechat.notify.message"/>
    </rabbit:listener-container>-->

    <!--from rabbitmq to local channel 替代上面的listener-container方式-->
    <int:channel id="consumingChannel"/>
    <int-amqp:inbound-channel-adapter
            acknowledge-mode="AUTO"
            connection-factory="rabbitConnectionFactory"
            message-converter="stringMessageConverter"
            channel="consumingChannel"
            queue-names="wechat.notify"
            concurrent-consumers="10"
            prefetch-count="5"
    />

    <int:service-activator
            input-channel="consumingChannel"
            ref="wxNotifyMessageHandler" method="handle"
    />

</beans>