<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--shiro配置-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager" />
        <property name="loginUrl" value="/" />
        <property name="unauthorizedUrl" value="/" />
        <property name="filters">
            <map>
                <entry key="authc">
                    <bean class="com.d1m.wechat.security.AuthcAuthenticationFilter" />
                </entry>
            </map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                /webapp/attached/** = anon
                /api/** = anon
                /oauth/** = anon
                /task/** = anon
                /user/login.json = anon
                /user/init.json = anon
                /notify = anon
                /socketjs/websocket = anon
                /websocket = anon
                /jsconfig.json = anon
                /imagetext/html/** = anon
                /coupon_activity/** = anon
                /zegna-activity/** = anon
                /zegna-binding/** = anon
                /liveChat/** = anon
                /c/** = anon
                /** = authc
            </value>
        </property>
    </bean>
    <bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO" />
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="sessionDAO" value="#{containsObject('redisSessionDAO') ? @redisSessionDAO : @sessionDAO}"/>
        <property name="globalSessionTimeout" value="7200000"/>
        <!-- <property name="sessionIdCookie.domain" value=".d1m.cn"/> -->
        <property name="sessionIdCookie.name" value="D1MSESSIONID"/>
        <property name="sessionIdCookie.path" value="/"/>
        <property name="sessionFactory">
            <bean class="com.d1m.wechat.security.shiro.ShiroSessionFactory"/>
        </property>
    </bean>
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="myRealm" />
        <property name="sessionManager" ref="sessionManager"/>
    </bean>
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
    <bean id="myRealm" class="com.d1m.wechat.security.ShiroDbRealm"/>
</beans>