<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="d1m_wechat" status="debug" monitorInterval="60">
    <Appenders>
        <!--<Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>%d %-5p [%t] %c(%F:%L).%M - %n%m%n</pattern>
            </PatternLayout>
            <PatternLayout pattern="[%-5p] %d{yyyy-MM-dd HH:mm:ss,SSS} [%20t] %l%n%m%n"/>
        </Console>-->

        <RollingRandomAccessFile name="FILE" fileName="${log.dir}/logs/d1m_wechat.log"
                                 filePattern="${log.dir}/logs/$${date:yyyy-MM}/d1m_wechat_%d{yyyy-MM-dd}_%i.log.gz">
            <ThresholdFilter level="info" onMatch="ACCEPT"/>
            <PatternLayout>
                <pattern>[%-5p] %d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %l%n[%-5p] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="9"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="ERROR_OUT" fileName="${log.dir}/logs/d1m_wechat_error.log"
                                 filePattern="${log.dir}/logs/$${date:yyyy-MM}/d1m_wechat_error_%d{yyyy-MM-dd}.log.gz">
            <ThresholdFilter level="WARN" onMatch="ACCEPT"/>
            <PatternLayout>
                <pattern>[%-5p] %d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %l%n[%-5p] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="ACCESS" fileName="${log.dir}/logs/d1m_wechat_access.log"
                                 filePattern="${log.dir}/logs/$${date:yyyy-MM}/d1m_wechat_access_%d{yyyy-MM-dd}_%i.log.gz">
            <ThresholdFilter level="debug" onMatch="ACCEPT"/>
            <PatternLayout>
                <pattern>[%-5p] %d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %l%n%m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="9"/>
        </RollingRandomAccessFile>

    </Appenders>

    <Loggers>
        <Logger name="com.d1m.wechat" level="info"/>

        <Logger name="org.exolab.castor" level="error"/>

        <Logger name="org.castor" level="error"/>

        <Logger name="org.springframework.web.socket.server" level="error"/>

        <Logger name="org.springframework.mock.web.MockServletContext" level="error"/>

        <Logger name="org.apache.ibatis.transaction.jdbc" level="warn"/>

        <asyncLogger name="org.springframework.web.servlet" level="debug">
            <AppenderRef ref="ACCESS"/>
        </asyncLogger>

        <asyncRoot level="info" includeLocation="true">
            <AppenderRef ref="FILE"/>
            <AppenderRef ref="ERROR_OUT"/>
        </asyncRoot>
    </Loggers>
</Configuration>
