<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5p] %d{yyyy-MM-dd HH:mm:ss,SSS} [%20t] %l%n%m%n"/>
        </Console>

        <RollingRandomAccessFile name="FILE" append="true"
                fileName="${log.dir}/logs/d1m_wechat.log"
                filePattern="${log.dir}/logs/d1m_wechat_%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <pattern>[%-5p] %d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %l%n%m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="24" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="ERROR_OUT" append="true"
                fileName="${log.dir}/logs/d1m_wechat_error.log"
                filePattern="${log.dir}/logs/d1m_wechat_error_%d{yyyy-MM-dd}.log.gz">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT"/>
            <PatternLayout>
                <pattern>[%-5p] %d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %l%n%m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="24" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <Async name="ASYNC" includeLocation="true">
            <AppenderRef ref="FILE"/>
            <AppenderRef ref="ERROR_OUT"/>
        </Async>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="ASYNC"/>
        </Root>

        <Logger name="com.d1m.wechat" level="debug"/>

        <Logger name="org.exolab.castor" level="error"/>

        <Logger name="org.castor" level="error"/>

        <Logger name="org.springframework.web.socket.server" level="error"/>

        <Logger name="org.springframework.mock.web.MockServletContext" level="error"/>

        <Logger name="org.apache.ibatis.transaction.jdbc" level="warn"/>
    </Loggers>
</Configuration>
